
{% extends "base.html" %}

{% block title %}About TezLink{% endblock %}

{% block content %}
   
    <div class="container">
        <h1>About TezLink</h1>
        <p>TezLink is a cutting-edge service dedicated to modernizing the way professionals connect and network. Founded in Uzbekistan, our mission is to provide an eco-friendly and efficient alternative to traditional business cards. Our NFC-enabled cards allow users to instantly share their digital profiles with a simple tap on a smartphone.</p>
        <p>We are proud to offer local payment and delivery options, ensuring a seamless and accessible experience for our customers. By combining innovative technology with stylish, customizable designs, TezLink is helping professionals make lasting impressions and build stronger connections in the digital age.</p>
    </div>
{% endblock %}
